/* Временные стили добавлять здесь */
.p-2id {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.divid {
    border: 1px solid rgba(100, 116, 139, .12);
    padding: 24px;
    border-radius: 8px;
}

.graytext {
    color: #64748B;
}
